<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>InvoiceViewer</servlet-name>
    <servlet-class>ims.InvoiceViewer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilterInvoices</servlet-name>
    <servlet-class>ims.FilterInvoices</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>InsertInvoice</servlet-name>
    <servlet-class>ims.InsertInvoice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BringSimilarForInsert</servlet-name>
    <servlet-class>ims.BringSimilarForInsert</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>BringSimilarForUpdate</servlet-name>
    <servlet-class>ims.BringSimilarForUpdate</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>UpdateInvoice</servlet-name>
    <servlet-class>ims.UpdateInvoice</servlet-class>
  </servlet>
        <servlet>
    <servlet-name>DeleteInvoice</servlet-name>
    <servlet-class>ims.DeleteInvoice</servlet-class>
  </servlet>
      <servlet-mapping>
    <servlet-name>InsertInvoice</servlet-name>
    <url-pattern>/insertinvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvoiceViewer</servlet-name>
    <url-pattern>/invoiceviewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilterInvoices</servlet-name>
    <url-pattern>/filterinvoices</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>BringSimilarForInsert</servlet-name>
    <url-pattern>/bringsimilarforinsert</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>BringSimilarForUpdate</servlet-name>
    <url-pattern>/bringsimilarforupdate</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>UpdateInvoice</servlet-name>
    <url-pattern>/updateinvoice</url-pattern>
  </servlet-mapping>
        <servlet-mapping>
    <servlet-name>DeleteInvoice</servlet-name>
    <url-pattern>/deleteinvoice</url-pattern>
  </servlet-mapping>
</web-app>
